body,html{
	margin: 0;padding: 0;
	width: 100%;height: 100%;
	font-family: Helvetica;
}
*{
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
a img{
	display: block;
}
.box{
	width: 100%;height: 100%;
}
header{
	width: 100%;height: 4rem;
    background: url("../img/bg.png") center no-repeat;
    background-size: cover;
    border-bottom: 1px solid #ccc;
    position: relative;

}
.header{
	width: 100%;height: 40px;
}
.header .right{
	float: right;
	margin-right: 0.2rem;
}
.header .left{
	float: left;
	margin-left: 0.2rem;
}
.login{
	width: 100%;height: 16px;
	position: absolute;
	top: 0;bottom: 0;
	margin: auto;
	display: -webkit-flex;
	display: flex;
	justify-content:center;
	font-size: 12px;
}
.login a{
	color: #333;
	padding: 0 20px;
}
.login a:nth-child(1){
	display: block;height: auto;
	border-right:1px solid #ccc ;
}
.zhifu{
	width: 100%;height: 1.6rem;
	border-bottom: 1px solid #ccc;
	
}
.icon {
	width: 100%;height: 1rem;
	display: -webkit-box;
	display: flex;
	justify-content: space-around;
}
.wenzi{
	width: 100%;height: 0.6rem;
	display: -webkit-box;
	display: flex;
	justify-content: space-around;
}
.wenzi span{
	font-size: 0.2rem;
	color: #333;
}
.zhifu a{
	line-height: 30px;text-align: center;
	margin-top: 0.2rem;
	float: left;
}
.zhifu a span{
	width: 200px;
	margin-top: 1rem;
}
.more{
	width: 100%;height: auto;
}
.more a{
	display: block;
	width: 100%;height: 1rem;
	font-size: 0.3rem;
	line-height: 1rem;color: #333;
	padding-left: 0.2rem;
}
.more a .new{
	width:0.8rem ;height: 0.4rem;
	float: right;margin-top: 0.3rem;
	margin-right: 0.2rem;
}
.more a span{
	font-size: 0.24rem;color: #F02387;float: right;
}
.more a .new{
	background: url("../img/new.png")center no-repeat;
	background-size: cover;
}
.more a:nth-child(3),.more a:nth-child(4),.more a:nth-child(7),.more a:nth-child(8){
	border-bottom: 1px solid #ccc;
}
footer{
	width: 100%;height: 2.88rem;background: #F3F4F5;
}
.top{
	width: 100%;height: 0.6rem;
	
}
.top-left{
	float: left;
	width: auto;
}
.top-left span{
	color:#999;
	float: left;
	display: block;width: auto;
	padding: 0 10px;font-size: 0.25rem;
	line-height: 0.6rem;
}
.top-right{
	float: right;
	width: auto;
}
.top-right span{
	color:#999;
	float: left;
	display: block;width: auto;
	padding: 0 10px;font-size: 0.25rem;
	line-height: 0.6rem;
}
.top-right span:nth-child(1){
	border-right: 1px solid #ccc;
}
.con{
	width: 100%;margin-top: 0.6rem;
}
.con p{
	font-size: 0.2rem;
	padding: 0 0.5rem;
	text-align: center;
	color: #999;
}
.bottom{
	width: 100%;height: 0.6rem;
	padding: 0 1rem;
}
.bottom img{
	float: left;
}
.bottom p{
	font-size: 0.2rem;
	line-height: 0.6rem;
	text-align: center;
	color: #999;
}
